* {background-color: rgb(187, 200, 202); font-family: "Arial Black", Arial; font-weight: 700; text-align: center;}
.list {font-size: 32px;
    background-color: aliceblue;
    color: aliceblue
box-sizing: border-box;
padding: 35px;
margin: 35px;
border: 5px solid black;
}
#img {margin: -15px;
display: inline}

a, ul { background-color: aliceblue;
   color: rgb(161, 23, 131)}

li {background-color: aliceblue;
color:aliceblue}